html{
    /*background-color: black;*/
    /*linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5))*/
    background-image: url("Village Fin Demon Slayer 1.png");
    margin: 2%;
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Source Code Pro Light;
    
}

p{
    padding: 2%;
}

iframe#music{
    width: 50%;
}


h1{
    color: white;
    font-size: 50px;
    letter-spacing: 20px;
    padding-top: 0%;
}


section{
    border: 1px solid #ffffff;
    margin-right: 5%;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-top: none;
    border-bottom: none;
    
}


a{
    color: white;
/*    text-decoration: none;*/
}

a:hover{

   color: #191919;
   background-color: white;
   border: none;
   -webkit-transform: scale(1);
   transform: scale(1); 
   -webkit-transition: 3s ease-in-out;
   transition: .3s ease-in-out;

}

img{
    width: 300px;
    padding: 2%;
    padding-bottom: 9%;
    border-bottom: thin solid white;
    padding-top: 9%;
    position: inherit;    
    
}

img:hover{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    border-bottom-color: white;

}

img:active{
   -webkit-transform: scale(1.3);
    transform: scale(1.3);
    
}

#bas{
    padding: 0.000000000000000001px;
    bottom: 30px; 
    right: 1px;
    position: fixed;
    display: inline-block;
    border-bottom: none;
}



::selection {
 color: #D92D19;
 background: white;
 }

::-moz-selection {
 color: #D92D19;
 background: white;
}